.todoinput{
    display: flex;
    justify-content: center;
}
.pt-1{
  padding-top: 1.2rem;
}
.w-90{
    width: 90%;
}
.header{
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 1.2rem;
  font-weight: bold;
}
.flex-column{
  flex-direction: column;
}